/* RESET */
body, h1, h2, p, ul, li, a {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', Arial, sans-serif;
	color: #222;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Deixa as imagens facilitadas para o responsivo */
img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/* Superinfo */

.superinfo {
	background: #122AB2;
	color: #FFF;
}

.superinfo__container {
	margin: 0 auto;
	max-width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}

.superinfo__contato {
	color: #fff;
}

.superinfo__container > * {
	margin: 0 10px 10px 10px;
}